@import "../../global.scss";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #bb9457, #ad6856, #86475a, #503254, #14213d);

  h1 {
    overflow: hidden;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .2rem;
    font-size: 3rem;
    color: white;

    span {
      background-image: linear-gradient(transparent calc(75% - 5px),
          $text 5px,
        );
      background-size: 0;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: background-size 0.6s ease;
    }

    &:hover {
      span {
        background-size: 0%;
      }
    }
  }

  ul {
    margin: 2rem;
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    gap: 5rem;
  }

  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;



    @media screen and (max-width : 830px) {
      width: 100%;

    }

    .item {
      transition: transform 1s ease;
      border: $gradient solid 1px;
      width: 17rem;
      height: 10rem;
      border-radius: 1rem;
      margin: 2rem 2.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      //box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 10px 12px;



      h3 {
        position: absolute;
        font-size: 1rem;
        max-width: 12rem;
      }

      a {
        position: absolute;
        color: $text;
        bottom: 10%;
        text-decoration: none;

        &:active {
          transform: scale(1.1);
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: .8rem;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $gradient;
        transition: transform 1s ease;
        transform: scale(1.1);

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}


@media screen and (max-width : 415px) {
  .projects {
    ul{
      gap: 2rem;
    }
    .container {
      width: 100%;

      .item {
        width: 13rem;
        height: 10rem;
        margin: 1rem 1.7rem;

      }
    }
  }
}