@import "../../global.scss";

.topbar {
    z-index: 3;
    overflow: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;



    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 92%;


        .title {
            font-size: 3rem;
            font-weight: 400;
            text-shadow: 0 1px 0px $text, 
            -1px 2px 0px $text, 
            -2px 4px 0px $text;
            //color: $text;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            .bar-items {

                a {
                    font-size: 1.25rem;
                    letter-spacing: 1.5px;
                    text-decoration: none;
                    //color: $secondary_text;
                }

                &:hover {
                    border-bottom: 7px solid $text;
                    transition: all 0.5s ease;
                }
            }
        }



        .right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            height: 3rem;

            .light-dark-mode {
                display: flex;
                align-items: center;

                .icon {
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            .hamburger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;

                    width: 100%;
                    height: 0.2rem;
                    background-color: $text;
                }
            }
        }
    }

    &.active {
        background-color: $text;
        transition: all 1s ease;

        .wrapper .title {
            color: white;
        }

        .right {
            .light-dark-mode {
                color: white;
            }

            .hamburger span {
                background-color: white;
            }
        }

        .hamburger {
            .line1 {
                transform: rotate(45deg);
                transform-origin: 0;
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(-45deg);
                transform-origin: 0;
            }
        }
    }
}


@media screen and (max-width : 800px) {
    .right .hamburger {
        width: 3.2rem;
        height: 2.4rem;
    }

    .left {
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 3rem;
            }
        }


        .bar-items {
            display: none;
        }
    }
}