@import "../../global.scss";

.topbar {
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 3;
    overflow: hidden;

    .wrapper {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: movedown 1.2s linear 1;


        @keyframes movedown {
            0% {
                transform: translateY(-100px);
            }

            100% {
                transform: translateY(0);
            }
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 2rem;
                overflow: hidden;
                display: inline-block;
                font-weight: 700;
                letter-spacing: .5rem;

                span {
                    background-image: linear-gradient(transparent calc(75% - 5px),
                            darken($text, 10%) 5px,
                        );
                    background-size: 0;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    transition: background-size 0.6s ease;
                }

                &:hover {
                    span {
                        background-size: 0%;
                    }
                }
            }

            .bar-items {
                margin-left: 50px;

                a {
                    font-size: 1rem;
                    letter-spacing: 1.5px;
                    text-decoration: none;
                    color: inherit;
                }

                &:hover {
                    border-bottom: 7px solid $text;
                    transition: all 0.5s ease;
                }
            }
        }



        .right {
            display: flex;
            align-items: center;
            justify-content: center;

            .light-dark-mode {
                display: flex;
                align-items: center;
                margin-right: .8rem;

                .icon {
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            .hamburger {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;

                    width: 100%;
                    height: 0.2rem;
                    background-color: $text;
                }
            }
        }
    }

    &.active {
        background-color: $text;
        transition: all 1s ease;

        .left h1 {
            color: white;
            background-image: linear-gradient(transparent calc(75% - 5px),
                            darken($text, 10%) 5px,
                        );
        }

        .right {
            .light-dark-mode {
                color: white;
            }

            .hamburger span {
                background-color: white;
            }
        }

        .hamburger {
            .line1 {
                transform: rotate(45deg);
                transform-origin: 0;
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(-45deg);
                transform-origin: 0;
            }
        }
    }
}


@media screen and (max-width : 695px) {
    .right .hamburger {
        width: 3.2rem;
        height: 2.4rem;
    }

    .left {
        h1 {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 3rem;
            }
        }


        .bar-items {
            display: none;
        }
    }
}

