@import "../../global.scss";

.skills {
    transition: all 1.2s ease;
    //background-image: linear-gradient(to bottom, #0080f6, #0093d9, #0098aa, #64968b, #8d918d);    overflow: hidden;


    .information {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 4rem;
            margin-top: 1rem;
            margin-left: 3rem;
            max-width: 75vw;
            //color: white;
            overflow: hidden;
            display: inline-block;


            span {
                background-image: linear-gradient(transparent calc(65% - 5px),
                        darken($text, 2%) 5px,
                    );
                background-size: 0;
                background-repeat: no-repeat;
                transition: 0.5s ease;
                background-position-y: 100%;
                background-size: 100%;
            }

            &:hover {
                span {
                    background-size: 0%;
                }
            }
        }

        h2 {
            position: relative;
            color: mix($text, #fff, 85%);
            font-size: 1.4rem;
            margin-top: 2rem;
            margin-left: 3rem;
            overflow: hidden;
        }
    }

    .grids {
        display: grid;
        width: 100%;
        height: 60%;
        right: 50%;
        grid-template-columns: auto auto auto;
        margin-top: 2rem;
        overflow: hidden;

        .grid-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            font-size: 1.6rem;
            text-align: center;

            &:hover {
                animation: jiggle 0.2s infinite;
            }

            .icons {
                font-size: 4rem;

            }

            @keyframes jiggle {
                0% {
                    transform: rotate(-4deg);
                }

                50% {
                    transform: rotate(4deg);
                }
            }

        }
    }
}