@import "../../global.scss";


.intro {
    display: flex;
    flex-direction: column;

    .left {
        width: 100%;
        height: 100%;
        flex: 0.4;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .iconContainer {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;
            overflow: hidden;
            font-size: 15rem;
            color: $text;
        }
    }

    .right {
        flex: 0.6;
        position: relative;
        overflow: hidden;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 4rem;
                gap: 2rem;
                overflow: hidden;
                
                a {
                    transition: all 1s ease;
                    

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            h2 {
                font-size: 3rem;
                padding: 20px;
                font-weight: 400;
            }

            h1 {
                font-size: 5rem;
            }

            h3 {
                font-size: 3rem;
                padding: 20px;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width : 940px) {

    .intro {
        flex-direction: column;

        .right {
            flex: 0.5;
        }

        .left {
            flex: 0.5;
        }
    }
}
