@import "./global.scss";


html {
	font-size: 1rem;
}

.App {
	height: 100vh;
	//color: $gradient;
	transition: all 1.2s ease;



	.sections {
		width: 100%;
		height: calc(100vh - 4rem);
		position: relative;
		scroll-behavior: smooth;
		top: 4rem;


		>* {
			width: 100vw;
			height: calc(100vh - 4rem);
		}
	}

	button {
		background-color: $gradient;
	}

	&.darkMode {
		background-color: $background;
		color: white;

		button {
			background-color: $text;
		}

		.right .form-container {

			.h2-style {
				color: white;
				border-bottom-color: $text;
			}

			form {
				color: white;
				input {
					border-bottom-color: white;
					color: white;

				}

				textarea {
					border-color: white;
					color: white;
				}
			}
		}
	}
}


@media screen and (max-width : 1980px) {
	html {
		font-size: 0.8rem;
	}
}

@media screen and (max-width : 600px) {
	html {
		font-size: 0.58rem;
	}
}


@media screen and (max-width : 414px) {
	html {
		font-size: 0.45rem;
	}
}

@media screen and (max-width : 320px) {
	html {
		font-size: 0.3rem;
	}
}