@import "../../global.scss";

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .right {
        flex: 0.6;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
    }


    .card {
        width: 80%;
        height: 70%;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        &.background {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 7%;
            right: 15%;
            background: $text;
        }
    }

    .left {
        overflow: hidden;
        flex: 0.5;
        display: flex;
        justify-content: center;
        height: 100%;

        h1 {
            overflow: hidden;
            display: inline-block;
            font-weight: 700;
            letter-spacing: .2rem;
            font-size: 4rem;
            
        
            span {
              background-image: linear-gradient(transparent calc(65% - 5px),
                  darken($text, 2%) 5px,
        
                );
              background-repeat: no-repeat;
              background-position-y: 100%;
        
              background-size: 100%;
              transition: background-size 0.6s ease;
            }
        
            &:hover {
              span {
                background-size: 0%;
              }
            }
          }


        .information {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-radius: 1rem;
            padding-left: 6rem;

            .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    /* Variables */
                    --button_radius: 0.75em;
                    --button_outline_color: #000000;
                    font-size: 1.6rem;
                    font-weight: 700;
                    border: none;
                    border-radius: var(--button_radius);
                    background: var(--button_outline_color);


                }

                .button_top {
                    text-decoration: none;
                    display: block;
                    box-sizing: border-box;
                    border: 2px solid var(--button_outline_color);
                    border-radius: var(--button_radius);
                    padding: 0.75em 1.5em;
                    background: $text;
                    color: var(--button_outline_color);
                    transform: translateY(-0.2em);
                    transition: transform 0.1s ease;
                }

                button:hover .button_top {
                    /* Pull the button upwards when hovered */
                    transform: translateY(-0.33em);
                }

                button:active .button_top {
                    /* Push the button downwards when pressed */
                    transform: translateY(0);
                }
            }

            h2 {
                font-size: 1.7rem;
                color: $text;
                max-height: 5rem;
                position: relative;
                margin-top: 1rem;
                line-height: 1.5rem;
                font-weight: 550;
            }

            h3 {
                font-size: 2.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 3rem;
                //margin: 1rem 0;
                overflow: hidden;
                font-weight: 400;
                font-style: italic;

            }
        }
    }
}

@media screen and (max-width : 830px) {
    .aboutMe {
        //flex-direction: column;

        .right {
            .card {
                margin-top: 1rem;
            }
        }

        .left {
            flex: 0.7;

            .information {
                padding-left: 2rem;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        margin-top: 1rem;

                        span {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 500px) {

    .aboutMe {
        .left .information {

            h2 {
                font-size: 1.3rem;
            }

            h3 {
                font-size: 1.9rem;
            }
        }

        .right .card{
            height: 75%;
            width: 80%;

        }

    }
}